function gen_headers() {
    # install headers for android headers parser
    (
        cd ${OUT_DIR}
        make O=${OUT_DIR} headers_install
    )
}

function tar_modules() {
    # tar up modules
    (
        set +x
        echo " Archiving kernel module files"
        MODULES=$(find ${MODULES_STAGING_DIR} -type f -name "*.ko")
        if [ -n "${MODULES}" ]; then
          mkdir -p ${DIST_DIR}
          rm -f ${DIST_DIR}/kernel-modules.tar.gz
          for FILE in ${MODULES}; do
            echo "  ${FILE##*/}"
            tar -rf ${DIST_DIR}/kernel-modules.tar -C ${FILE%/*} ${FILE##*/}
          done
          gzip -9 ${DIST_DIR}/kernel-modules.tar
        fi
        set -x
    )
}

BRANCH=android-4.19-stable
KMI_GENERATION=0
LLVM=1
DEPMOD=depmod

ARCH=arm64
BRANCH=android-exynos-r11-4.19
CROSS_COMPILE=aarch64-linux-android-
CROSS_COMPILE_ARM32=arm-linux-androideabi-
DEFCONFIG=r11_defconfig
EXTRA_CMDS=''
KERNEL_DIR=private/exynos-google-cw
POST_DEFCONFIG_CMDS="check_defconfig;gen_headers"
CC=clang
CLANG_TRIPLE=aarch64-linux-gnu-
CLANG_PREBUILT_BIN=prebuilts-master/clang/host/linux-x86/clang-r370808/bin/
LD_LIBRARY_PATH=${ROOT_DIR}/prebuilts-master/clang/host/linux-x86/clang-r370808/lib64:$LD_LIBRARY_PATH
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9/bin
LINUX_GCC_CROSS_COMPILE_ARM32_PREBUILTS_BIN=prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9/bin
LZ4_PREBUILTS_BIN=prebuilts-master/misc/linux-x86/lz4
DTC_PREBUILTS_BIN=prebuilts-master/misc/linux-x86/dtc
LIBUFDT_PREBUILTS_BIN=prebuilts-master/misc/linux-x86/libufdt
KERNEL_BINARY=Image.gz
STOP_SHIP_TRACEPRINTK=1
FILES="
arch/arm64/boot/Image
arch/arm64/boot/Image.gz
vmlinux
System.map
arch/arm64/boot/dts/exynos/exynos9110.dtb
arch/arm64/boot/dts/exynos/r11.dtb
arch/arm64/boot/dts/exynos/exynos9110/r11_dev2_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_dev2_no_nfc_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_dev2_btwifi_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_dev2_swap_audio_no_nfc_auo_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_dev2_swap_audio_no_nfc_boe_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_proto1_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_proto1_btwifi_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_proto11_no_nfc_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_evt1_overlay.dtbo
arch/arm64/boot/dts/exynos/exynos9110/r11_evt1_btwifi_overlay.dtbo
arch/arm64/boot/dtbo.img
"
IN_KERNEL_MODULES=1
DO_NOT_STRIP_MODULES=1
EXT_MODULES="
private/exynos-google-cw-extra/drivers/bluetooth
private/exynos-google-cw-extra/drivers/gnss/bcm477xx
private/exynos-google-cw-extra/drivers/net/wireless/bcmdhd
private/exynos-google-cw-extra/drivers/input/misc/ots_pat9150
private/exynos-google-cw-extra/drivers/input/misc/ots_pat9126
private/exynos-google-cw-extra/drivers/nfc
private/exynos-google-cw-extra/drivers/nfc/ese
private/exynos-google-cw-extra/drivers/sound/cs35l41
private/exynos-google-cw-extra/drivers/sound/exynos9110_sound_r11
private/exynos-google-cw-extra/drivers/sound/mcu_mic_codec
private/exynos-google-cw-extra/drivers/input/touchscreen/raydium
private/exynos-google-cw-extra/drivers/input/touchscreen/nt38350
private/exynos-google-cw-extra/drivers/sensorhub/nanohub
private/exynos-google-cw-extra/drivers/battery
private/exynos-google-cw-extra/drivers/haptics/cs40l2x
private/exynos-google-cw-extra/drivers/wlc
"
EXTRA_CMDS="tar_modules"
