#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/samsung.h>

&hsi2c_4 {
	status = "ok";
	#address-cells = <1>;
	#size-cells = <0>;

	novatek: novatek@62 {
		compatible = "novatek,NVT-ts";
		reg = <0x62>;
		status = "disabled";

		novatek,irq-gpio =<&gpa0 5 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&ts_int_active>;
	};
};

&pinctrl_0 {
	/* TP_INT */
	ts_int_active: ts-int-active {
		samsung,pins = "gpa0-5";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
	};
};
