/*
* Device Tree config for the BCM430132 chip - BT
*/

/*************/
/* UART & BT */
/*************/

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/samsung.h>

&pinctrl_0 {
	/* BT_HOST_WAKE */
	bt_host_wake: bt-host-wake {
		samsung,pins = "gpa1-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_F>;	/* WEINTEINT_GPA1[1] */
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
		samsung,pin-drv = <0>;		/* 1x */
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_DOWN>;
	};
};

&pinctrl_5 {
	/* BT_REG_ON */
	bt_reg_on: bt-reg-on  {
		samsung,pins = "gpg5-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <0>;		/* 1x */
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
	};

	/* BT_DEV_WAKE */
	bt_dev_wake: bt-dev-wake {
		samsung,pins = "gpg4-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <0>;		/* 1x */
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_DOWN>;
	};
};

&serial_5 {
	status = "okay";
};

&odm {
	btbcm {
		compatible = "goog,nitrous";
		pinctrl-0 = <&bt_reg_on &bt_dev_wake &bt_host_wake>;
		pinctrl-names = "default";
		shutdown-gpios = <&gpg5 1 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios = <&gpa1 1 0xf>;
		device-wakeup-gpios = <&gpg4 1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};
