comment "Broadcom bluetooth module"

config BT_BRCM_RFKILL
	tristate "Broadcomm rfkill driver"
	depends on BT
	help
	  This enables the Bluetooth driver for Broadcomm's BT/FM/WLAN
	  combo devices. This makes use of shared transport line discipline
	  core driver to communicate with the BT core of the combo chip.

	  Say Y here to compile support for Broadcomm's BCM43455 rfkill driver
	  into the kernel or say M to compile it as module.

config BT_BRCM_LPM
	tristate "Broadcomm BCM43456 LPM driver"
	depends on BT_BRCM_RFKILL
	help
	  This enables the Bluetooth driver for Broadcomm's BT/FM/WLAN
	  combo devices. This makes use of shared transport line discipline
	  core driver to communicate with the BT core of the combo chip.

	  Say Y here to compile support for Broadcomm's BCM43455 LPM driver
	  into the kernel or say M to compile it as module.
